@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #ffe8d2;
  color: #5c272f;
  font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.georgia {
  font-family: Georgia,"Times New Roman",Times,serif;
}

.league-gothic {
  font-family: "League Gothic","Arial Narrow",Arial,sans;
}

